
/* ===NAVBAR === */
.navbar {
    height: 60px;
    /* background-color: burlywood; */
}

.navbar-wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.navbar-left {
    flex:1;
    display: flex;
    gap:10px;
    align-items: center;
}

.navbar-left .search-container{
    display: flex;
    border: 0.5px solid black;
    margin-left: 10px;
}

.navbar-left .language{
    font-size: medium;
}

/* ============== */
.navbar-center {
    flex:1;
}

.navbar-center .title{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/* ============ */

.navbar-right {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-right .menu-item{
    font-size: 15px;
    margin-left: 10px; 
    padding: 5px 5px;
    border-radius: 10%;
}

.menu-item:hover{
    background-color: lightgray; 
    cursor: pointer;
}

.user-email {
    color: green;
}